# Ignorar pastas de dependências locais
node_modules/

# Ignorar logs de erro e depuração
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Ignorar dados locais e backups para manter o container sem estado (stateless)
data/
*.json
!package.json
!package-lock.json

# Ignorar variáveis de ambiente confidenciais locais
.env
.env.example

# Ignorar pastas de controle de versão e configurações locais de IDEs / Deploy
.git/
.gitignore
.vercel/
.idea/
.vscode/
README.md
